<div class="col-md-6 col-md-offset-3">
  <div class="page-header">
    <h1>{{vacancy.name}}</h1>
  </div>

  <div class="btn-group pull-right " role="group" >
    <a ui-sref="vacancyEdit({vacancy_id: vacancy.id})" class="btn btn-default btn-sm">Edit</a>
    <a ng-click="deleteVacancy()" class="btn btn-danger btn-sm">Delete</a>
  </div>    

  <p>
    From {{vacancy.created_at | moment}}
    to {{vacancy.expire_at | moment}}
  </p>
  <p>
    Salary: {{vacancy.salary}}
  </p>
  <p>
    Contacts: {{vacancy.contacts}}
  </p>
  <p ng-show="vacancy.skills.length > 0">
    Skills: 
    <span ng-repeat="skill in vacancy.skills"><span class="label label-primary">{{skill.name}}</span> </span>
  </p> 
  <hr>  

  <div ng-show="workers.length > 0" >
  
    <div class="btn-group pull-right" role="group" >
      <button class="btn btn-primary" ng-class="{active: strictly}" ng-click="toggleView()">Strictly</button>
      <button class="btn btn-primary" ng-class="{active: !strictly}" ng-click="toggleView()">Partially</button>
    </div>
    
    <h3>Workers for this vacancy:</h3>

    <hr>  

    <div ng-repeat="worker in workers">
      <div class="btn-group pull-right " role="group" >
        <a ui-sref="worker({worker_id: worker.id})" class="btn btn-default btn-sm">View</a>
        <a ui-sref="workerEdit({worker_id: worker.id})"  class="btn btn-default btn-sm">Edit</a>
        <a ng-click="deleteWorker(worker)" class="btn btn-danger btn-sm">Delete</a>
      </div>    
      <h4><a ui-sref="worker({worker_id: worker.id})" >{{worker.name}}</a></h4>

      <p>
        Status:
        <span ng-switch="worker.status">
          <span ng-switch-when="active">Looking for a job.</span>
          <span ng-switch-when="inactive">Not looking for a job.</span>
        </span>
      </p>
      <p>
        Salary: {{worker.salary}}
      </p>
      <p>
        Contacts: {{worker.contacts}}
      </p>
      <p ng-show="worker.skills.length > 0">
        Skills: 
        <span ng-repeat="skill in worker.skills"><span class="label label-primary">{{skill.name}}</span> </span>
      </p>    
      <hr>
    </div>
  </div>

</div>  